<footer class="site-footer">
  <div class="footer-left">
    <a href="<%= site.basePath %>/">
      <img
        class="logo"
        src="<%= site.basePath %>/assets/images/logo-for-black-bg.png"
        alt="<%= site.title %>"
      />
    </a>
  </div>
  <div class="footer-right">
    <a href="<%= site.basePath %>/" class="site-footer-credits">AI Engineer @ 2022</a>
  </div>
</footer>
