<section class="page-header">
  <h1 class="project-name"><%= site.title %></h1>
  <a href="<%= site.basePath %>/categories" class="btn">Categories</a>
  <a href="<%= site.basePath %>/about" class="btn">About</a>
</section>
