<div class="pre-body">
  <% var post = helper.dataHelper.getPost(page.url); %>
  <h1><%= post.title %></h1>
  <div class="post-info">
    <%= helper.moment(page.modifiedDate).format('MMM DD, YYYY') %> · <%= page.readingTime %> min
    read
  </div>
</div>
