---
title: Categories
---

<h1>Categories</h1>

<ul>
  <% helper.dataHelper.allCategories.forEach((category) => { %>
  <li>
    <a href="<%= site.basePath %>/<%= category.url %>"><%= category.title %></a> <%
    category.childs.forEach((categoryChild) => { %> <% if (categoryChild.type === 'topic') { %> <% }
    %> <% }) %>
  </li>
  <% }) %>
</ul>
